footer {
    background-color: #7FC4B7;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}
footer a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-x: auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    width: 300px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.card ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.card ul li:last-child {
    border-bottom: none;
}

.card ul[contenteditable="true"] {
    cursor: text;
}

.card button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

#drop-zone {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #ccc;
    transition: 0.3s;
}


#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    user-select: none;
}

.day {
    padding: 10px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.day:hover {
    background-color: #ccc;
}

.day.marked {
    background-color: #ff5555;
    color: white;
    font-weight: bold;
}